
{% extends 'base.html' %}
{% load static %}

{% block title %}Final_project{% endblock %}
{% block content %}
<div class="container mb-3" id="myform">
<div class="text-center">
    <center class="py-5"><h1 class="mb-3">welcome in Image Gallery</h1></center>
      <form class="d-flex" method="get" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" name="search">Search</button>
      </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="upload" class="btn btn-danger">
    </form>
</div>
    <div class="row mt-3">
        {% for pic in img %}
        <div class="col-sm-4">
            <div class="card m-2">
                <img src="{{pic.pic.url}}" alt="" class="card-img-top" height="250px">
                <div class="side">
                    <div class="hello"><small>{{pic.dated}}</small></div>
                    <div class="never">{{pic.desc}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


















